In [3]:
import mysql.connector
import pandas as pd
import numpy as np
db=mysql.connector.connect(
    host='localhost',
    user='root',
    passwd='admin12345'
    )

mycursor=db.cursor()

In [5]:
#Creating a new database
mycursor.execute("CREATE DATABASE Data225_final_project")

db=mysql.connector.connect(
    host='localhost',
    user='root',
    passwd='admin12345',
    database='Data225_final_project')

mycursor=db.cursor()

In [4]:
# # ##Reading of CSV file##

Customer_Detail=pd.read_csv(r'/Users/himantgoyal/Downloads/assignments/Data 225 Assignments/DB Project/Customer_Detail.csv', index_col=False, delimiter=',')
Customer_Detail.fillna(' ', inplace=True)

Customeraccount=pd.read_csv(r'/Users/himantgoyal/Downloads/assignments/Data 225 Assignments/DB Project/Customer_Account.csv', index_col=False, delimiter=',')
Customeraccount.fillna(' ', inplace=True)

Customeraddress=pd.read_csv(r'/Users/himantgoyal/Downloads/assignments/Data 225 Assignments/DB Project/Customer_Address.csv', index_col=False, delimiter=',')
Customeraddress.fillna(' ', inplace=True)

Customercard=pd.read_csv(r'/Users/himantgoyal/Downloads/assignments/Data 225 Assignments/DB Project/Customer_Card.csv', index_col=False, delimiter=',')
Customercard.fillna(' ', inplace=True)

Customerdisp=pd.read_csv(r'/Users/himantgoyal/Downloads/assignments/Data 225 Assignments/DB Project/Customer_Disposition.csv', index_col=False, delimiter=',')
Customerdisp.fillna(' ', inplace=True)

Customerdistrict=pd.read_csv(r'/Users/himantgoyal/Downloads/assignments/Data 225 Assignments/DB Project/Customer_District_data.csv', index_col=False, delimiter=',')
Customerdistrict.fillna(' ', inplace=True)


Customerloan=pd.read_csv(r'/Users/himantgoyal/Downloads/assignments/Data 225 Assignments/DB Project/Customer_Loan.csv', index_col=False, delimiter=',')
Customerloan.fillna(' ', inplace=True)

Customerorder=pd.read_csv(r'/Users/himantgoyal/Downloads/assignments/Data 225 Assignments/DB Project/Customer_Order.csv', index_col=False, delimiter=',')
Customerorder.fillna(' ', inplace=True)

Customertransaction=pd.read_csv(r'/Users/himantgoyal/Downloads/assignments/Data 225 Assignments/DB Project/Customer_Transaction.csv', index_col=False, delimiter=',')
Customertransaction.fillna(' ', inplace=True)

TimeZone=pd.read_csv(r'/Users/himantgoyal/Downloads/assignments/Data 225 Assignments/DB Project/TimeZonee.csv', index_col=False, delimiter=',')
TimeZone.head()

Time_Diff=pd.read_csv(r'/Users/himantgoyal/Downloads/assignments/Data 225 Assignments/DB Project/time_difference.csv', index_col=False, error_bad_lines=False, delimiter=',')
Time_Diff.head()

         time_zone_1                time_zone_2  min_diff
0  Central Time Zone  Hawaii-Aleutian Time Zone         4
1  Central Time Zone           Alaska Time Zone         3
2  Central Time Zone         Mountain Time Zone         1
3  Central Time Zone          Eastern Time Zone         1
4  Central Time Zone          Pacific Time Zone         2

In [106]:
# #Creating and Inserting into Table CustomerDetails ##
mycursor.execute("""CREATE TABLE Data225_final_project.CustomerDetails (Clientid char(15) primary key, Sex varchar(15),
                 fulldate varchar(10), day varchar(2), month varchar(2), year varchar(4), 
                 age int, social char(15), FirstName varchar(50),  middlename varchar(50),
                    LastName varchar(50), Phone char(15), Email char(100))""")

db_query = """ INSERT INTO Data225_final_project.CustomerDetails
                  VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s) """
for i, row in Customer_Detail.iterrows(): 
#    print(row)
    mycursor.execute(db_query, tuple(row))
db.commit();

In [73]:
mycursor.execute('CREATE TABLE Data225_final_project.Customer_Account (AccountID char(20) primary key, DistrictID int, Frequency varchar(50), parseddate char(20), Year int, month int, Day int)')

for i, row in Customeraccount.iterrows():
    sql='INSERT INTO Data225_final_project.Customer_Account VALUES (%s,%s,%s,%s,%s,%s,%s)'
    mycursor.execute(sql,tuple(row))

db.commit()

In [80]:
mycursor.execute('CREATE TABLE Data225_final_project.Customer_Address (Clientid char(15) primary key, DistrictID int, Address_1 char(100), Address_2 char(100), City varchar(30), State varchar(5), Zipcode int)')
for i, row in Customeraddress.iterrows():
    sql='INSERT INTO Data225_final_project.Customer_Address VALUES (%s,%s,%s,%s,%s,%s,%s)'
    mycursor.execute(sql,tuple(row))
    db.commit()

#db.commit()

In [84]:
mycursor.execute('CREATE TABLE Data225_final_project.Customer_card (card_id char(20) primary key, disp_id char(30), Type varchar(50),year char(6), month char(4), day char(3), Fulldate char(25))')
for i, row in Customercard.iterrows():
    sql='INSERT INTO Data225_final_project.Customer_card VALUES (%s,%s,%s,%s,%s,%s,%s)'
    mycursor.execute(sql,tuple(row))

db.commit()

In [87]:
mycursor.execute('CREATE TABLE Data225_final_project.Customer_Disposition (DispID char(30), Clientid char(15), AccountID char(20), Type varchar(30))')
for i, row in Customerdisp.iterrows():
    sql='INSERT INTO Data225_final_project.Customer_Disposition VALUES (%s,%s,%s,%s)'
    mycursor.execute(sql,tuple(row))

db.commit()

In [89]:
mycursor.execute('CREATE TABLE Data225_final_project.Customer_District (DistrictID int primary key, City varchar(50), State_name varchar(50), State varchar(5), Region varchar(30), Division varchar(75))')
for i, row in Customerdistrict.iterrows():
    sql='INSERT INTO Data225_final_project.Customer_District VALUES (%s,%s,%s,%s,%s,%s)'
    mycursor.execute(sql,tuple(row))

db.commit()

In [91]:
mycursor.execute('CREATE TABLE Data225_final_project.Customer_Loan (LoanID char(20) primary key, AccountID char(20), Amount decimal(10,4), Duration int, Payments int, Status varchar(2), year char(6) , month char (4), day char(4), Fulldate char(20), Location int, Purpose char(50))')
for i, row in Customerloan.iterrows():
    sql='INSERT INTO Data225_final_project.Customer_Loan VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
    mycursor.execute(sql,tuple(row))

db.commit()

In [93]:
mycursor.execute('CREATE TABLE Data225_final_project.Customer_order (OrderID int primary key, AccountID char(20), Bank varchar(3), Account_to int, Amount decimal(10,4), K_Symbol varchar(50))')
for i, row in Customerorder.iterrows():
    sql='INSERT INTO Data225_final_project.Customer_order VALUES (%s,%s,%s,%s,%s,%s)'
    mycursor.execute(sql,tuple(row))

db.commit()

In [102]:
mycursor.execute('CREATE TABLE Data225_final_project.Customer_Transaction (SerialNumber int, Trans_id char(50), AccountID char(50), Type varchar(50), operation char(50), Amount decimal(12,4), Balance decimal(12,4), k_symbol char(50), bank char(50), account char(20), year char(6) , month char (4), day char(4),  Fulldate char(20), Fulltime char(50), fulldatewithtime char(75))')
db.commit()

In [103]:
for i, row in Customertransaction.iterrows():
    sql='INSERT INTO Data225_final_project.Customer_Transaction VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
    mycursor.execute(sql,tuple(row))
db.commit()

In [5]:
mycursor.execute('CREATE TABLE Data225_final_project.Time_Zone (State_Time_Zone_ID int primary key, State varchar(50), Time_Zone char(75))')
for i, row in TimeZone.iterrows():
    sql='INSERT INTO Data225_final_project.Time_Zone VALUES (%s,%s,%s)'
    mycursor.execute(sql,tuple(row))

db.commit()

mycursor.execute('CREATE TABLE Data225_final_project.Time_Difference (time_zone_1 varchar(50), time_zone_2 varchar(50), min_diff int)')
for i, row in Time_Diff.iterrows():
    sql='INSERT INTO Data225_final_project.Time_Difference VALUES (%s,%s,%s)'
    mycursor.execute(sql,tuple(row))

In [6]:
db.commit()